<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>WARNING! You're about to delete your accont</h1>
<form action="/deleteConfirm" method="post">
    <button>Yes, Delete my account</button>
    <a href="/user">No, Don't delete my account.</a>
</form>    
</body>
</html>