<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Triple Walrus Info</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      /* background-color: #fd2c4f; */
      background: linear-gradient(to bottom, #5e005e, #fd2c4f, #fd2c4f, #fd2c4f, black, #fd2c4f, #5e005e);
      margin: 20px;
      color: black;
    }

    header {
      text-align: center;
      padding: 20px;
      background-color: #5e005e;
    }

    h1 {
      margin: 0;
    }

    section {
      margin-top: 20px;
    }

    .info, .contributors {
      padding: 15px;
      background-color: rgba(255, 255, 255, 1);
      color: black;
      border-radius: 8px;
      margin-bottom: 20px;
    }

    .social-links {
      list-style: none;
      padding: 0;
      display: flex;
      gap: 10px;
    }

    .social-links a {
      text-decoration: none;
      color: #333;
      border: 1px solid #333;
      padding: 5px 10px;
      border-radius: 5px;
    }

    .contributor-link {
      margin-bottom: 10px;
    }
    a{
        color: rgb(62, 17, 226);
    }
  </style>
</head>

<body>
  <header>
    <h1>Triple Walrus Info</h1>
  </header>

  <section class="info">
    <h2>Info</h2>
    <p>Triple Walrus is my third iteration of a slot machine game. The initial version was a command-line game, relying on typed commands for interaction, with the results displayed through rolls and scores.</p>
    <p>The second version, Tripple Walrus 2.0, retained the same concept but introduced a more user-friendly UI. Despite some issues, including a misspelling in the name, it was functional, allowing users to play the game.</p>
    <p>The current version, Triple Walrus 3.0, represents a significant improvement. It includes full animations for the spinning wheels, enhanced score tracking, and an overall more immersive experience. While the app is not flawless, it marks a substantial leap from the previous two versions.</p>
    <p>Looking ahead, I plan to introduce additional features. One key addition will be an option for users to sign in and create accounts, enabling the saving of scores to a database. This will also facilitate the distribution of more tokens if users run out, enhancing the overall gaming experience.</p>
    <a href="https://github.com/IronWalrus68/triple-walrus-3.0">Github Triple Walrus</a>
  </section>

  <!-- <hr> -->

  <section class="contributors">
    <h2>Contact me!</h2>
    <div class="contributor-link"><a href="https://linktr.ee/iwwtuk" target="_blank">Cameron Jackson</a></div>
    <h2>Contributors</h2>
    <div class="contributor-link"><a href="https://github.com/enderchief" target="_blank">Enderchief</a> - Debugging Duck/Bug Tester</div>
  </section>

  <!-- <hr> -->

  <section class="contributors">
    <a href="/">Back To Triple Walrus</a>
  </section>
</body>

</html>
