<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <link rel="stylesheet" href="stylesheets/secondaryPages.css">
</head>
<body>
<div class="borderStyle">
  <form action="/login" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit" class="buttonStyle">Login</button>
  </form>
<div class="buttonWrapper">
   <a href="/" class="buttonStyle">Go back</a>
    <a href="/register" class="buttonStyle">Register</a>
</div>
  </div>
  </div>
</body>
</html>
