body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #5e005e, #fd2c4f, #fd2c4f, #fd2c4f, black, black, #fd2c4f, #5e005e);
}

#Accent {
  font-size: 9vw;
  position: absolute;
  margin: 0;
  font-family: Brush Script MT;
  color: black;
}

#title {
  font-size: 8.7vw;
  position: absolute;
  margin: 0;
  font-family: Brush Script MT;
  color: hotpink;
  text-shadow: 0 0 10px rgba(236, 226, 86, 0.5);
  transition: text-shadow 0.5s;
}

#title:hover {
  text-shadow: 0 0 10px rgba(236, 226, 86);
}

#bodyWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#slotMachineBackboard {
  margin-top: 4.5vw;
  height: 85vh;
  width: 85vw;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#uiInline {
  height: 13vh;
  width: 75vw;
  margin-top: 3vh;
  border-radius: 20px;
  background-color: #ffed47;
}

#uiInline {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.winsCollum{
  font-family: Helvetica;
  display: flex;
  flex-direction: column;
  height: 10vh;
  justify-content: space-around;
}

#tokenInput {
  width: 50px; /* Adjust the width based on your preference */
  padding: 8px;
  font-size: 1em;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none; /* Remove the default focus outline */
}

#tokenInput:hover,
#tokenInput:focus {
  border-color: #6c63ff; /* Change the border color on hover and focus */
}

#spinButton {
  font-size: 2em;
  width: 12vw;
  height: 12vw;
  border-radius: 100px;
  background-color: hotpink;
  border: 10px solid #ffed47;
  transition: box-shadow 0.5s; /* Smooth transition effect */

}

#spinButton:hover {
  box-shadow: 0 0 10px 5px #ffffff;
}

#spinButton:active {
  transform: scale(0.95); /* Adjust the scale value based on your preference */
}

/* reels */
#reelHoldster {
  height: 60vh;
  width: 75vw;
  margin-top: 5vh;
  background-color: rgba(71, 120, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.reels{
  border: 1px solid black;
  height: 55vh;
  width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.reelSymbal{
height: 20px;
width: 20px;
position: absolute;
}
.animation1{
background-color: red;
  animation: spin1 2s forwards;
}
.animation2{
background-color: green;
  animation: spin2 2s forwards;
}
.animation3{
background-color: blue;
  animation: spin3 2s forwards;
}
.animation4{
background-color: yellow;
  animation: spin4 2s forwards;
  
}
.animation5{
background-color: pink;
  animation: spin5 2s forwards;
  
}

@keyframes spin1 {
  /* reelHolster is 55vh, the animation should go from 0 to 20vh to -20vh */
  0%{
    transform: translateY(0vh);
  }
  10%{
    transform: translateY(10vh);

  }
  20%{
    transform: translateY(20vh);
  }
  30%{
    transform: translateY(-20vh);
  }
  40%{
    transform: translateY(-10vh);
  }
  50%{
    transform: translateY(0vh);
  }
  60%{
    transform: translateY(10vh);
  }
  70%{
    transform: translateY(20vh);

  }
  80%{
    transform: translateY(-20vh);
  }
  90%{
    transform: translateY(-10vh);
  }
  100%{
    transform: translateY(0vh);
    display: none;
  }
}

@keyframes spin2 {
  0%{
    transform: translateY(10vh);
  }
  10%{
    transform: translateY(20vh);

  }
  20%{
    transform: translateY(-20vh);
  }
  30%{
    transform: translateY(-10vh);
  }
  40%{
    transform: translateY(0vh);
  }
  50%{
    transform: translateY(10vh);
  }
  60%{
    transform: translateY(20vh);
  }
  70%{
    transform: translateY(-20vh);

  }
  80%{
    transform: translateY(-10vh);
  }
  90%{
    transform: translateY(0vh);
  }
  100%{
    transform: translateY(10vh);
  }
}

@keyframes spin3 {
  0%{
    transform: translateY(20vh);
  }
  10%{
    transform: translateY(-20vh);

  }
  20%{
    transform: translateY(-10vh);
  }
  30%{
    transform: translateY(0vh);
  }
  40%{
    transform: translateY(10vh);
  }
  50%{
    transform: translateY(20vh);
  }
  60%{
    transform: translateY(-20vh);
  }
  70%{
    transform: translateY(-10vh);

  }
  80%{
    transform: translateY(0vh);
  }
  90%{
    transform: translateY(10vh);
  }
  100%{
    transform: translateY(20vh);
  }
}

@keyframes spin4 {
  0%{
    transform: translateY(-20vh);
  }
  10%{
    transform: translateY(-10vh);

  }
  20%{
    transform: translateY(0vh);
  }
  30%{
    transform: translateY(10vh);
  }
  40%{
    transform: translateY(20vh);
  }
  50%{
    transform: translateY(-20vh);
  }
  60%{
    transform: translateY(-10vh);
  }
  70%{
    transform: translateY(0vh);

  }
  80%{
    transform: translateY(10vh);
  }
  90%{
    transform: translateY(20vh);
  }
  100%{
    transform: translateY(-20vh);
  }
}

@keyframes spin5 {
  0%{
    transform: translateY(-10vh);
  }
  10%{
    transform: translateY(0vh);

  }
  20%{
    transform: translateY(10vh);
  }
  30%{
    transform: translateY(20vh);
  }
  40%{
    transform: translateY(-20vh);
  }
  50%{
    transform: translateY(-10vh);
  }
  60%{
    transform: translateY(0vh);
  }
  70%{
    transform: translateY(10vh);

  }
  80%{
    transform: translateY(20vh);
  }
  90%{
    transform: translateY(-20vh);
  }
  100%{
    transform: translateY(-10vh);
  }
}